{% extends 'main/base.html' %}
{% load static %}
{% block content %}


  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Farmer name 1</h5>
              <p class="card-text">Description for farm </p>
              <a href="#" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Farmer name 2</h5>
              <p class="card-text">Description for farm </p>
              <a href="#" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4">
            <img class="card-img-top" src="https://via.placeholder.com/300" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Farmer name 3</h5>
              <p class="card-text">Description for farm </p>
              <a href="#" class="btn btn-primary">View All</a>
            </div>
          </div>
        </div>
    </div>
  </div>
</section>


{% endblock %}